body {
    background-color: peachpuff;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-family: "Lucida Console", Courier, monospace;
}
img {
    border-radius: 50%;
}
.footer {
    background-color: #DC143C;
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif
}
h1 {
    background-color: #DC143C;
    color: whitesmoke;
}
.about {
    text-align: center;
}