body {
    background-color: peachpuff;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-family: "Lucida Console", Courier, monospace;
}
img {
    border-radius: 50%;
}
.footer {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.about {
    text-align: center;
}